<div class="container">
  <h1>Weekend Getaway</h1>
  <p>Luckily, you don't need to travel far to stake out your place for adventure: we've collected many weekend getaways from major Indian cities. You don't have to plan weeks ahead to enjoy every moment on your precious trip.</p>
  <%= render 'shared/weekend_getaway' %>
  <div class="right">
    <%= link_to "See All Weekend Activities", static_pages_weekend_path %>
  </div><br>

  <h1>Team Outing</h1>
  <p>Team building activities we offer here at TrekHub are not so typical. Some people view team building activities as something that will only embarrass them. Others think that they are boring, not fun, or will just end up being a waste of time.  Our team building activities are different from all of the others because of our two main priorities: making them <b>FUN</b> and <b>ENGAGING</b>.</p>
  <%= render 'shared/team_outing' %>
  <div class="right">
    <%= link_to "See All Team Activities", static_pages_team_outing_path %>
  </div><br>

  <h1>Elderly Activities</h1>
  <p>There are many fun activities elderly people can take part in to keep their minds sharp, bodies strong and spirits high. Whether it's spending time outdoors, playing games with family and friends, or spending time working on a favorite hobby, doing things they love can benefit the overall wellbeing of all seniors.</p>
  <%= render 'shared/elderly' %>
  <div class="right">
    <%= link_to "See All Elderly Activities", static_pages_elderly_path %>
  </div><br>

  <h1>Women Special</h1>
  <p>TrekHub provide adventure travel, tours, activities and events specifically for women. From low level walking to the more challenging treks, inspirational retreats and adventure weekends, there's something for everyone. If you're looking to have fun in a safe and supportive environment, discover new places, try new things and meet new people, then take the next step and join us!</p>
  <%= render 'shared/women_special' %>
  <div class="right">
    <%= link_to "See All Women Special Activities", static_pages_women_special_path %>
  </div><br>  
</div>