<div class="row">
  <div class="col s12 m12 l4 offset-l4">
    <h3>Edit Your Account</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%# if !resource.provider %>
        <%= f.input :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false, label: 'New Password', input_html: { id: 'password' } %>
        <input type="checkbox" id="showPassword" class="right" />
        <label for="showPassword" id="showPassword">Show Password</label>
        <%= f.input :current_password, required: true %>
      <%# end  %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    <br><br>
    <h5>Cancel my account</h5>

    <p>Unhappy?</p>
    <p><i class="fa fa-ban fa-fw"></i><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "We hate to see you go. Write to us at support@trekhub.in if you have any problems. Please do note that all your records will be destroyed as well." }, method: :delete %></p>
  </div>
</div>