<div class="row">
  <div class="col s12 m10 l4 offset-m1 offset-l4">
    <h3 class="teal-text center">Sign Up</h3>
    <div class="center social-login">
      <%= link_to person_facebook_omniauth_authorize_path do %>
        <div class="waves-effect waves-light btn indigo facebook white-text">
          <i class="fa fa-facebook fa-fw"></i>
        </div>
      <% end %>
      <%= link_to person_google_omniauth_authorize_path do %>
        <div class="btn waves-effect waves-light red darken-1" id="google">
          <i class="fa fa-google fa-fw"></i>
        </div>
      <% end %>
    </div>
    <br><br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <%= f.input :name, required: true, autofocus: true, class: "white-text" %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, :input_html => { :class => 'estimate-password' } %>
        <%= f.input :password_confirmation, autocomplete: "off", required: true %>
        <div class="row">
          <div class="col s6">
            <%= f.button :submit, "Sign Up" %>
          </div>
          <div class="right">
            <%= link_to "Log in", new_session_path(resource_name), 
                          class: 'waves-effect waves-teal btn-flat flat-button' %>
          </div>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>