<div class="container">
  <nav class="deep-orange lighten-2">
    <div class="nav-wrapper">
      <form>
        <ul class="input-field">
          <form class="col-12">
            <%= form_for :search, url: search_path, method: :get, class: "navbar-form navbar-right", role: "search" do |f| %>
              <%= f.search_field :q, value: params[:q], placeholder: 'Search for activities, categories and destinations', autofocus: true, autocomplete: 'off', onfocus: "this.value = this.value;" %>
            <% end %>
          </form>
        </ul>
      </form>
    </div>
  </nav>
  <br><br><br>
    <div class="col-md-6" data-animation="fadeInUp-fadeOutDown">
      <% if @activities.any? %>
        <div data-behavior="endless-scroll">
          <h4 class="small-heading border-top">Activities</h4>
          <%= render @activities %>
        </div>
        <div class="center">
          <%= will_paginate @activities %>
        </div>
      <% end %>
    </div>

    <aside class="col-md-4" data-animation="fadeInUp-fadeOutDown">
      <% if @categories.any? %>
        <h4 class="small-heading border-top">Categories</h4>
        <%= render @categories %>
      <% end %>
      <% if @destinations.any? %>
        <h4 class="small-heading border-top">Destinations</h4>
          <%= render @destinations %>
      <% end %>
    </aside>

  </div>
</div>
</div>