<div class="container">
  <nav class="deep-orange lighten-2">
    <div class="nav-wrapper">
      <form>
        <ul class="input-field">
          <form class="col-12">
            <%= form_for :search, url: search_path, method: :get, class: "navbar-form navbar-right", role: "search" do |f| %>
              <%= f.search_field :q, value: params[:q], placeholder: 'Search for activities, categories and destinations', autofocus: true, autocomplete: 'off', onfocus: "this.value = this.value;" %>
            <% end %>
          </form>
        </ul>
      </form>
    </div>
  </nav>
  <br><br><br>
<div class="row">
  <div class="col s12 m6 l8">
    <%= render 'activities' %>
  </div>
  <!-- <div class="col s12 m4 l1">
    <div class="hide">yui8udacgbkjweehfiqfcxm,sdlfyiavc,jEGUO;FREKC.KJdfhopef,cjgfewi;tf78o</div>
  </div> -->
  <div class="col s12 m4 l3 right">
    <%= render 'categories' %>
    <%= render 'destinations' %>
  </div>
</div>
</div>