<div class="container">

  <div class="row">
    <h4 class='center'>Articles</h4>
    <% if policy(:article).new? %>
      <%= link_to "New Article", new_article_path, class:'right' %>
    <% end %>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to image_tag(article.cover.card.url), article_path(article) %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= link_to truncate(article.title, length: 21), article_path(article) %><i class="material-icons right">more_vert</i></span>
            <p><%#= number_to_currency(article.price, :unit => '₹ ') %></p>
            <p><%#= link_to article.destination.name, destination_path(article.destination) %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <%= article.title %><i class="material-icons right">close</i>
            </span>
            <p>
              <span class="grey-text text-darken-2">Destination: </span>
              <%#= article.destination.name %>
            </p>
            <p>
              <span class="grey-text text-darken-2">Categories: </span>
              <%#= article.categories.map(&:name).to_sentence %>
            </p>
            <p>
              <span class="grey-text text-darken-2">Difficulty: </span>
              <%#= article.difficulty.humanize %>
            </p>
            <p>
              <%#= article.brief %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="center">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>

</div>
