<div class="row">
  <div class="container">
    <%= image_tag @article.cover.cover.url, class:'col s12 materialboxed' %>
  </div>
</div>

<div class="container">
  <div class="row center">
    <h4><%= @article.title %></h4>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p class="flow-text">
            <%#= sanitize @article.body, tags: %w(p b i u h2 h3 h4 h5 h6 blockquote), attributes: %w(href) %>
            <%= raw @article.body %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>

  <% if policy(:category).edit? %>
    <%= link_to(edit_category_path) do %>
      <div class="btn waves-effect waves-light">Edit Category<i class="material-icons right">mode_edit</i></div>
    <% end %>
  <% end %>

  <% if policy(:category).destroy? %>
    <div style="float:right;">
      <%= link_to category_path(@category), method: :delete, data: {confirm: "Do you really want to delete this category?"} do %>
        <div class="btn waves-effect waves-light red">Delete Category<i class="material-icons right">delete</i></div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var disqus_config = function () {
      this.page.url = '<%= request.original_url %>';
      this.page.identifier = '<%= @article.id %>';
      this.page.title = '<%= @article.title %>';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//trekhubdev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<script id="dsq-count-scr" src="//trekhubdev.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
