<div class="container">
  <h1 class='center'>Activities</h1>
  <% if policy(:activity).new? %>
    <%= link_to "New Activity", new_activity_path, class:'right' %>
  <% end %>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Destination</th>
        <th>Categories</th>
        <th>Vendor</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.title, activity %></td>
        <td><%= activity.destination.name %></td>
        <td><%= activity.categories.map(&:name).to_sentence(last_word_connector: ' and ') %></td>
        <td><%= activity.vendor.name %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } if policy(:activity).destroy? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>