<div class="container">
  <div id="error_explanation">
    <% if @vendor.errors.any? %>
    <h2><%= pluralize(@vendor.errors.count, "error") %>
    prohibited this vendor from being saved:</h2>
    <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="row">
    <%= simple_form_for @vendor, html: { multipart: true, class: 'col s12' } do |f| %>
    <%= f.input :name, input_html: { class: 'input-field col s12', placeholder: 'Name of the vendor' } %> <br><br><br>
    <h5>Contact Details</h5>
    <%= f.input :contact_person %>
    <%= f.input :address %> <br>
    <%= f.input :city %> <br>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%=  f.collection_check_boxes :category_ids, Category.all, :id, :name %> <br><br><br>
    
    <%= f.submit "Submit", class: 'center-align btn waves-effect waves-light' %>
    <% end %>
  </div>
</div>