<% if @destination.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@destination.errors.count, "error") %>
      prohibited this destination from being saved:</h2>
    <ul>
      <% @destination.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
<%= simple_form_for @destination, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.input :name %>
    </div>
    <div class="input-field col s12">
      <label>Description</label><br><br>
      <%= f.input :description, label: '', input_html: { class: 'editable' } %> <br><br><hr>
    </div>
    <div class="input-field col s12">
      <div class='file-field input-field'>
        <div class='btn'>
          <span>*Cover Image</span>
          <%= f.file_field :cover, type: :file %>
        </div>
        <div class='file-path-wrapper'>
            <input class='file-path validate' type='text'>
        </div>
      <%= @destination.cover? ? 'There is a file already' : '' %>
      </div>
    </div>
  </div>
  <div class="input-field col s12">
    <%= f.input :brief, label: 'Meta Description',
                        input_html: { id: 'textarea1', class: 'materialize-textarea', length: '160' } %>
  </div>
  <%= f.submit "Submit", class: 'center-align btn waves-effect waves-light' %>
<% end %>
</div>

<script>
var editor = new MediumEditor('.editable', {
  toolbar: {
      buttons: ['bold', 'italic', 'quote', 'underline', 'anchor', 'h2', 'h3', 'h4', 'h5', 'quote'],
      diffLeft: 25,
      diffTop: 10,
  }
});
</script>