<div class="row">
  <div class="col s12">
    <%= image_tag @destination.cover.cover.url, class:'col s12 materialboxed' %>
  </div>
</div>

<div class="container">
	<h4><%= @destination.name %></h4>
	<p><%= sanitize @destination.description, tags: %w(p b i u h2 h3 h4 h5 h6 blockquote), attributes: %w(href) %></p>
	<br><br>

	<%= render 'shared/maps' %>

	<% if policy(:destination).edit? %>
		<%= link_to(edit_destination_path) do %>
			<div class="btn waves-effect waves-light">Edit Destination<i class="material-icons right">mode_edit</i></div>
		<% end %>
	<% end %>

	<% if policy(:destination).destroy? %>
		<div style="float:right;">
			<%= link_to destination_path(@destination), method: :delete, data: {confirm: "Do you really want to delete this destination?"} do %>
				<div class="btn waves-effect waves-light red">Delete Destination<i class="material-icons right">delete</i></div>
			<% end %>
		</div>
	<% end %>
	
	<%= render 'shared/activities' %>

	<div id="infinite-scrolling">
	  <%= will_paginate @activities %>
	</div>

</div>

<%= render 'shared/mapscript' %>
