<div id="error_explanation">
  <% if @category.errors.any? %>
  <h2><%= pluralize(@category.errors.count, "error") %>
  prohibited this category from being saved:</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<%= simple_form_for @category, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.input :name %>
    </div>
    <div class="input-field col s12">
      <label>Description</label><br><br>
      <%= f.input :description, label: '', input_html: { class: 'editable' } %> <br><hr>
    </div>
    <div class="col s12">
      <%= f.input :main_category %><br>
    </div>
    <div class="input-field col s12">
      <div class='file-field input-field'>
        <div class='btn'>
          <span>*Cover Image</span>
          <%= f.file_field :cover, type: :file, input_html: { label: '' } %>
        </div>
        <div class='file-path-wrapper'>
            <input class='file-path validate' type='text'>
        </div>
      </div>
      <%= @category.cover? ? 'There is a file already' : '' %>
    </div>
    <div class="input-field col s12">
      <%= f.input :slug %>
    </div>
    <div class="input-field col s12">
      <%= f.input :brief, label: 'Meta Description',
                          input_html: { id: 'textarea1', class: 'materialize-textarea', length: '160' } %>
    </div>
    <%= f.submit "Submit", class: 'center-align btn waves-effect waves-light' %>
  </div>
<% end %>

<script>
var editor = new MediumEditor('.editable', {
  toolbar: {
      buttons: ['bold', 'italic', 'quote', 'underline', 'anchor', 'h2', 'h3', 'h4', 'h5', 'quote'],
      diffLeft: 25,
      diffTop: 10,
  }
});
</script>