<%= image_tag @category.cover.cover.url, class:'cover-img materialboxed' %>
<div class="container">
	<h4><%= @category.name %></h4>
	<h5><%= @category.main_category.humanize %></h5>
	<p><%= @category.description %></p>
	
	<% if policy(:category).edit? %>		
		<%= link_to(edit_category_path) do %>
			<div class="btn waves-effect waves-light">Edit Category<i class="material-icons right">mode_edit</i></div>
		<% end %>
	<% end %>
	
	<% if policy(:category).destroy? %>
		<div style="float:right;">
			<%= link_to category_path(@category), method: :delete, data: {confirm: "Do you really want to delete this category?"} do %>
				<div class="btn waves-effect waves-light red">Delete Category<i class="material-icons right">delete</i></div>
			<% end %>
		</div>
	<% end %>

</div>

<%= render 'shared/activities' %>
