<div class='container'>
  <%= simple_form_for @activity, remote: true, authenticity_token: true,
                                 html: { multipart: true } do |f| %>
    <%= f.error_notification %>
    <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class='row'><div class='input-field col s12'><%= f.input :title %></div>
      <div class='col s6'><%= f.input :difficulty %></div>
      <div class='col s6'><%= f.input :price %></div>
      <hr><br><h5 class='center'>Associations</h5><hr><br>
      <div class='row'>
        <div class='col s12 m6 l6'><%= f.association :destination %></div>
        <div class='col s12 m6 l6'><%= f.association :vendor %></div>
        <div class='col s12 m6 l6'><%= link_to 'New Destination', new_destination_path, target: '_blank' %></div>
        <div class='col s12 m6 l6'><%= link_to 'New Vendor', new_vendor_path, target: '_blank' %></div><hr>
      </div><br>
      <div class="row">
        <div class='col s12 m10 l10'><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></div>
        <div class='col s12 m2 l2'><%= link_to 'New Category', new_category_path, target: '_blank' %></div>
      </div>
      <hr><br><h5 class='center'>Dates</h5><hr><br>
      <!-- Datepicker works only with Jquery v1 -->
      <div class='row'>
        <div class='input-field col s6'>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, type: :date, class: 'datepicker', label: 'Start Date' %>
        </div>
        <div class='input-field col s6'>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, type: :date, class: 'datepicker', label: 'End Date' %>
        </div>
      </div>

      <hr><br><h5 class='center'>Special Category?</h5><hr><br>
      <div class='row'>
        <div class='input-field col s12 m6 l4'><br>
        <%= f.input :handcrafted, label: 'Handcrafted?'%>
        </div>
        <div class='input-field col s12 m6 l8'><br>
          <%= f.input :handcrafted_category, prompt: 'Select only if the activity is handcrafted',
                                           label: 'Handcrafted Categories', include_blank: true %>
        </div>
      </div>

      <hr><br><h5 class='center'>Descriptions</h5><hr><br>
      <div class="row">
        <div class="input-field col s12">
          <%= f.input :itinerary, input_html: { class: 'editable' } %>
        </div><br><br><hr><br>
        <div class="input-field col s12">
          <%= f.input :overview, input_html: { class: 'editable' } %>
        </div>
      </div>
      <hr><br><h5 class='center'>SEO</h5><hr>
      <div class="row">
        <div class='input-field col s12'>
          <%= f.input :brief, label: 'Meta description',
                              input_html: { id: 'textarea1', class: 'materialize-textarea', length: '160' } %>
        </div>  
      </div>
      <br><h5 class='center'>Images</h5><hr>
      <br><h6 class='center'>Cover Image</h6><hr>
      <div class='input-field col s12'>
        <div class='file-field input-field'>
          <div class='btn teal'>
            <span>*Cover Image</span>
            <%= f.file_field :cover, type: :file, label: '' %>
          </div>
          <div class='file-path-wrapper'>
            <input class='file-path validate' type='text'>
          </div>
        </div><br><br>
        <%= @activity.cover? ? 'There is a file already' : '' %>
      </div>
      
      <h6 class='center'>Gallery Images</h6><hr>
      <div id="galleries">
        <%= f.simple_fields_for :galleries do |gallery| %>
          <%= render 'gallery_fields', f: gallery %>
          <div class="links"><br>
            <%= link_to_add_association(f, :galleries) do %>
              <div class='btn-floating btn-large waves-effect waves-light teal'><i class='material-icons left'>add_a_photo</i></div>
            <% end %>
          </div>
        <% end %>
      </div><br><br>
    <%= f.submit 'Update', class: 'center-align btn waves-effect waves-light' %>
  <% end %>
</div>
<script>
  var editor = new MediumEditor('.editable', {
    toolbar: {
        buttons: ['bold', 'italic', 'quote', 'underline', 'anchor', 'h2', 'h3', 'h4', 'h5', 'quote'],
        diffLeft: 25,
        diffTop: 10,
    }
  });
</script>