<% if @related_activities.any? %>
  <div class="container">
    <br><br>
    <h5>Related Activities</h5>
    <br>
    <div class="row">
    <% @related_activities.each do |activity| %>
      <div class="col s12 m4 l3">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag activity.cover.card.url %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= link_to activity.title, activity_path(activity) %><i class="material-icons right">more_vert</i></span>
            <p><%= number_to_currency(activity.price, :unit => '₹ ') %></p>
            <p><%= link_to 'Do something later', activity_path(activity) %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <%= activity.title %><i class="material-icons right">close</i>
            </span>
            <p>
              <span class="grey-text text-darken-2">Destination: </span>
              <%= activity.destination.name if activity.destination %>
            </p>
            <p>
              <span class="grey-text text-darken-2">Category: </span>
              <%= activity.category.name if activity.category %>
            </p>
            <p>
              <span class="grey-text text-darken-2">Difficulty: </span>
              <%= activity.difficulty %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>  
<% end %>
