<div class='row'>
  <div class='col s12'>
    <%#= image_tag @activity.cover.cover.url, class:'cover-img materialboxed' %>
  </div>
</div>
<!-- Card Begin -->
<div class='card teal hoverable'>
    <div class='row'>
      <div class='col s12 m6 l6 push-m1 push-l2'>
        <h4 class='white-text'><%= @activity.title %></h4>
      </div>
      <div class="col s12 m6 l6">
        <h4 class='white-text'>
          <%= l @activity.start_date, format: :customformat %>
          <%= @activity.end_date? ? "to #{l(@activity.end_date, format: :customformat)}" : '' %>
        </h4>
      </div>
    </div>
    <div class='row'>
      <div class='col s6 m6 l6 push-m1 push-l2'>
        <h5 class='white-text'><%= @activity.destination.name if @activity.destination %></h5>
      </div>
      <div class='col s6 m6 l6'>
        <h5 class='white-text'><%= number_to_currency(@activity.price, unit: '₹ ') %></h5>
      </div>
    </div>
    <div class='row'>
      <div class='col s6 m6 l6 left-align push-m1 push-l2' >
        <h5 class='white-text'><%= @activity.category.name if @activity.category %></h5>
      </div>
      <div class='col s6 m6 l6'>
        <h5 class='white-text'><%= @activity.difficulty.humanize %></h5>
      </div>
    </div>
</div>

<!-- Card End -->
<!-- Content Begin -->
<div class='container'>
    <div class='section scrollspy'>
      <h3>Overview</h3>
      <p><%= @activity.overview %></p>
    </div>
    <div class='section scrollspy'>
      <h3>Itinerary</h3>
      <p><%= @activity.itinerary %></p>
    </div>
    <div class='section scrollspy'>
      <h3>Hotspots</h3>
    </div>
</div>
<!-- Content End -->

<!-- Gallery Begin -->

<!-- Gallery End -->
<div class='container'>
  <% if policy(:activity).edit? %>
    <%= link_to(edit_activity_path) do %>
      <div class='btn waves-effect waves-light'>Edit Activity<i class='material-icons right'>mode_edit</i></div>
    <% end %>
  <% end %>

  <% if policy(:activity).destroy? %>
    <div style='float:right;'>
      <%= link_to activity_path(@activity), method: :delete, data: {confirm: 'Do you really want to delete this activity?'} do %>
        <div class='btn waves-effect waves-light red'>Delete Activity<i class='material-icons right'>delete</i></div>
      <% end %>
    </div>
  <% end %>
</div>