<div class="row">
  <div class="container">
    <%= image_tag @activity.cover.cover.url, class:'col s12 materialboxed' %>
  </div>
</div>

<!-- Card Begin -->
  <div class="container">
<div class='card-panel teal'>
    <div class='row'>
      <div class='col s12'>
        <h4 class='white-text'><%= @activity.title %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4 class='white-text'>
          <%= l @activity.start_date, format: :customformat %>
          <%= @activity.end_date? ? "to #{l(@activity.end_date, format: :customformat)}" : '' %>
        </h4>
      </div>
    </div>
    <div class='row'>
      <div class='col s12 m6 l6'>
        <h5 class='white-text'>
          <i class="fa fa-location-arrow" aria-hidden="true"></i> 
          <%= @activity.destination.name if @activity.destination %>
        </h5>
      </div>
      <div class='col s12 m6 l6'>
        <h5 class='white-text'><%= number_to_currency(@activity.price, unit: '₹ ') %></h5>
      </div>
    </div>
    <div class='row'>
      <div class='col s12 m6 l6' >
        <h5 class='white-text'>
          <i class="fa fa-object-group" aria-hidden="true"></i> 
          <%= @activity.categories.pluck(:name).to_sentence(last_word_connector: ' and ') %>
        </h5>
      </div>
      <div class='col s12 m6 l6'>
        <h5 class='white-text'>
          <i class="fa fa-exclamation" aria-hidden="true"></i> 
          <%= @activity.difficulty.humanize %>
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- Card End -->

<!-- Content Begin -->
<div class='container'><!-- Container Begin -->
<div class="row">
  <div class="col s12">
    <div class="row">
      
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">OVERVIEW</h3>
              <p>
                <%= sanitize @activity.overview, tags: %w(p b i u h2 h3 h4 h5 h6 blockquote), attributes: %w(href) %>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">ITINERARY</span>
              <p>
                <%= sanitize @activity.itinerary, tags: %w(p b i u h2 h3 h4 h5 h6 blockquote), attributes: %w(href) %>
              </p>
            </div>
          </div>
        </div>

      </div>
    <!-- Content End -->

    <!-- Gallery Begin -->
    <% if @activity.galleries.present? %>
      <div class="card-panel">
        <div class="row">
          <div class="picture" itemscope="" itemtype="http://schema.org/ImageGallery">
            <% @activity.galleries.each_with_index do |gal| %>
              <% if gal.activity_id == @activity.id %>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a data-size="<%= gal.width %> x <%= gal.height %>" href="<%= gal.image.medium.url %>" itemprop='contentUrl'>
                  <%= image_tag gal.image.card.url, class: 'row col s12 m6 l4', lazy: true, alt: "#{@activity.title} #{gal.id}" %>
                </a>
                </figure>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
      
    <!-- Gallery End -->

    <!-- Map Begin -->
      <div class="card-panel">
        <div id="map"></div>
      </div>

    <!-- Map End -->

    <!-- Comments Begin -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
    <!-- Comments End -->
    <% if @related_activities.any? %>
      <div class="card-panel">
        <%= render 'related_activities' %>
      </div>
    <% end %>

    <% if @nearby_activities.any? %>
      <div class="card-panel">
        <%= render 'nearby_activities' %>
      </div>
    <% end %>

      <div class='row'>
        <div class="col s12 m4 l4">
          <% if policy(:activity).edit? %>
            <%= link_to(edit_activity_path) do %>
              <div class='btn waves-effect waves-light'>Edit Activity<i class='material-icons right'>mode_edit</i></div>
            <% end %>
          <% end %>
        </div>
        <div class="col s12 m4 l4">
          <% if policy(:activity).destroy? %>
              <%= link_to activity_path(@activity), method: :delete, data: {confirm: 'Do you really want to delete this activity?'} do %>
                <div class='btn waves-effect waves-light red'>Delete Activity<i class='material-icons right'>delete</i></div>
              <% end %>
          <% end %>
        </div>
        <div class="col s12 m4 l4">
          <% if policy(:activity).enquiries? %>
              <%= link_to activity_queries_path(@activity) do %>
                <div class='btn waves-effect waves-light teal'> Enquiries <i class="material-icons">email</i></div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div><!-- Container End -->

<!-- Enquiry modal begin -->
    <div class="fixed-action-btn left">
      <button class="big-btn-floating btn-large waves-effect waves-light modal-trigger red tooltipped" data-position="left" data-delay="50" data-tooltip="Enquire about this activity" href="#enquiry">
        Enquire
      </button>
    </div>
<!-- Enquiry modal end -->
  </div>  
</div>
<%= render 'shared/mapscript' %>
<%= render 'enquiries/new' %>
 

<!-- Keep the disqus script in the same file. It is not working from a partial -->
<script>
  var disqus_config = function () {
      this.page.url = '<%= request.original_url %>';
      this.page.identifier = '<%= @activity.id %>';
      this.page.title = '<%= @activity.title %>';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//trekhubdev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<script id="dsq-count-scr" src="//trekhubdev.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<%= render 'gallery' %>
