<!DOCTYPE html>
<html lang="en">
<head>
  <%= display_meta_tags %>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="index, follow" /> <!-- Change this later -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--  Android 5 Chrome Color-->
  <meta name="theme-color" content="#009688">
  <script type="application/ld+json">
  { "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "TrekHub Adventures",
    "description": "Organizing trekking tours, adventures tours. We hold expertise in offering you India trekking tours at best prices. Get complete information about famous treks for Trekking in India.",
    "url" : "https://www.trekhub.in",
    "logo": "https://www.trekhub.in/assets/logo.png",
    "sameAs" : [  "https://www.facebook.com/trekhub/",
                  "https://twitter.com/trekhubin",
                  "https://plus.google.com/+TrekhubInindia",
                  "https://www.linkedin.com/company/trekhub"
                ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": " 402, Pyramid Green Palms, J.P 6th, Jarganahalli, JP Nagar Phase 6",
      "addressLocality": "Bengaluru",
      "addressRegion": "Karnataka",
      "postalCode": "560078",
      "addressCountry": "India"
    }
  }
</script>
<script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "TrekHub",
    "url": "http://www.trekhub.in"
  }
</script>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Ek+Mukta", property: "stylesheet" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", property: "stylesheet" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <p>
    <% flash.each do |key, message| %>
      <%= message %>
    <% end %>
  </p>

  <%= yield %>
  <%= render 'shared/footer' %>
  <%= render 'shared/flash_messages' %>

</body>
</html>
