<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= display_meta_tags %>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta name="ROBOTS" content="index, follow" /> <!-- Change this later -->
  <!--  Android 5 Chrome Color-->
  <meta name="theme-color" content="#009688">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <script type="application/ld+json">
  { "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "TrekHub Adventures",
    "description": "Organizing trekking tours, adventures tours. We hold expertise in offering you India trekking tours at best prices. Get complete information about famous treks for Trekking in India.",
    "url" : "http://www.trekhub.in",
    "logo": "http://www.trekhub.in/assets/logo.png",
    "sameAs" : [  "https://www.facebook.com/trekhub/",
                  "https://twitter.com/trekhubin",
                  "https://plus.google.com/+TrekhubInindia",
                  "https://www.linkedin.com/company/trekhub"
                ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": " 402, Pyramid Green Palms, Jarganahalli, JP Nagar Phase 6",
      "addressLocality": "Bengaluru",
      "addressRegion": "Karnataka",
      "postalCode": "560078",
      "addressCountry": "India"
    }
  }
</script>
<script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "TrekHub",
    "url": "http://www.trekhub.in"
  }
</script>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Ek+Mukta", property: "stylesheet" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", property: "stylesheet" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <p class="hide">
    <% flash.each do |key, message| %>
      <%= message %>
    <% end %>
  </p>

  <%= yield %>
  <%= render 'shared/footer' %>
  <%= render 'shared/flash_messages' %>

</body>
</html>
